[project]
	description = for practice
[access]
	inheritFrom = All-Projects
[access "refs/*"]
	owner = group user/amithkswa
[access "refs/for/refs/*"]
	read = group user/amithkswa
	push = group user/amithkswa
	label-Code-Review = -2..+2 group user/amithkswa
	label-Verified = -1..+1 group user/amithkswa
	rebase = group user/amithkswa
	removeReviewer = group user/amithkswa
	submit = group user/amithkswa
[access "refs/heads/*"]
	read = group user/amithkswa
	create = group user/amithkswa
	push = +force group user/amithkswa
	pushMerge = group user/amithkswa
[access "refs/tags/*"]
	push = group user/amithkswa
	push = +force group user/amithkswa
